*{
    padding:0;
    margin: 0;
    font-family:"PT Serif", serif;
}
.container{
    padding: 50px;
}
 .sec-one{
    background-color: black;
    color: white;
    padding: 20px;
 }
 .sec-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 5px;
 }
.sec-one__name{
    font-size: 55px;
}
.sec-one__role{
    font-size: 30px;
    margin: 10px;
}
.sec-two,.sec-three, .sec-four, .sec-five{
    margin-top: 20px;

}
.sec-two__desc,.sec-three__desc, .sec-four__desc, .sec-five__desc{
    margin-top: 10px;

}
.sec-three__desc li, .sec-four__desc li{
    list-style: none;
}
.sec-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.sec-five__title a{
    color:skyblue;
}
.sec-three{
    background-color: #6462fd;
    color: black;
    display: inline-block;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
}
.sec-four{
    background-color: #fe7517;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
}

.contact-form{
    margin-top: 10px;
}
.contact-form__input, .contact-form__textarea, .contact-form__submit{
    margin-top:10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: solid black 1px;
}
.contact-form__submit{
    padding: 10px;
    border: none;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: orangered;
   color: black;
}